<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeatNow</title>
</head>
<style>
    body {
        background-size:cover;
        background: black;
    }
</style>
<body>
    <fieldset style="border-radius: 50%; width: 400px; margin-left: auto; margin-right: auto; background-color: bisque;">
            <marquee direction="left">
                <h1>HELLO, <%= message %></h1>
            </marquee>
    </fieldset>
</body>
</html>